.desktop-nav {
    display: none;

    @media #{$normal} {
        display: block;
    }
}

.mobile-nav {
    overflow: hidden;
    background-color: $color--primary;

  .mobile-nav--item {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
  }

    @media #{$normal} {
        display: none;
    }
}

.website-logo {
    width: 100px;
}