.desktop-nav {
    display: none;

    @media #{$normal} {
        display: block;
        background-color: $color--primary;
    }

    .nav-link, .dropdown-item {
        color: $color--secondary;
    }
}

.dropdown-menu {
    background-color: $color--primary;

    .dropdown-item {
        &:hover {
            color: $color--davy-grey;
            background-color: $color--white;
        }
    }
}

.mobile-nav {
    overflow: hidden;
    background-color: $color--primary;

  .mobile-nav--item {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
  }

    @media #{$normal} {
        display: none;
    }
}

.website-logo {
    width: 100px;
}