@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Open Sans";
}

nav {
  width: 100%;
  background-color: #942e2a;
  color: #fff;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #232323;
  color: #fff;
}

body {
  background-color: #fff;
  text-align: center;
}

.abonnementen__title {
  color: #000;
}

.abonnementen__cards {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

@media screen and (min-width: 992px) {
  .abonnementen__cards {
    flex-direction: row;
    justify-content: center;
  }
}

.abonnementen__cards__content {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 30px;
  background-color: #942e2a;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .abonnementen__cards__content {
    height: 70vh;
    width: 33vw;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 0 20px 20px 20px;
  }
}

.abonnementen__cards__content__purchase {
  background-color: #232323;
  color: #fff;
  text-decoration: none;
}

.abonnementen__cards__content__purchase:hover {
  color: #942e2a;
}

.abonnementen__cards__content__icon {
  position: absolute;
  bottom: 5%;
  width: 80px;
}

