@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);body {
  background: #fff;
  font-family: "Inter", "Open Sans";
}

header,
main,
nav,
footer {
  background-color: #fe1e27;
  padding: 20px;
  margin: 20px;
}

