@import './variables.scss';
@import './typography.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Open Sans';
    text-align: center;
    scroll-behavior: smooth;
    background-color: $color--dark-grey;

    ::-moz-selection { /* Code for Firefox */
      color: $color--dark-grey;
      background: $color--primary;
    }
      
    ::selection {
      color: $color--dark-grey;
      background: $color--primary;
    }
}

nav {
    width: 100%;
    color: $color--secondary;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $color--davy-grey;
    color: $color--secondary;
}
