@import './variables.scss';
@import './typography.scss';

body {
    background: $color--secondary;
    font-family: 'Inter', 'Open Sans';
}

header, main, nav, footer {
    background-color: $color--primary;
    padding: 20px;
    margin: 20px;
}