// -----------------------------------------------------------------------------
//
// Colors
//
// -----------------------------------------------------------------------------

// Primary
$color--black: #000;
$color--white: #fff;

// Secondary:

// System
$color-approve: #00D896;
$color-error: #F15B56;
$color-warning: #FFBB4A;
$color-filter: rgba(245, 127, 39, 0.05);

// Potential House style
$color--alizarin-crimson: #fe1e27;
$color--davy-grey: #232323;
$color--battleship-grey: #707070;

$color--primary: $color--alizarin-crimson;
$color--secondary: $color--white;