.overview {
    &__title {
        font-family: 'Merienda', cursive;
        font-size: 3em;
        color: $color--white;
        margin-top: 1em;
    }

    &__subtitle {
        color: $color--white;
    }

    &__product {
        display: grid;
        grid-template-columns: 1fr;
        padding: 5em 0;

        @media #{$mobile} {
            grid-template-columns: 1fr 1fr;
            margin-left: 2em;
        }

        @media #{$tablet} {
            grid-template-columns: 1fr 1fr;
            margin-left: 0;
        }

        @media #{$normal} {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-left: 5em;
        }

        &__card {
            width: 200px;
            margin: 0 5.5em;
            padding-bottom: 2em;

            @media #{$normal} {
                margin-left: 0;
            }

            &__image {
                max-width: 60px;
                max-height: 110px;
            }

            &__title {
                color: $color--white;
            }
        }
    }

    .button {
        color: $color--white;
        text-decoration: none;

        &__back {
            position: absolute;
            top: 22%;
            left: 2%;
            cursor: pointer;
            color: $color--primary;
            font-size: 1.6em;

            @media #{$normal} {
                top: 2%;
                left: 3%;
                font-size: 2em;
            }

            &:hover {
                color: $color--auburn-dark;
            }
        }

        &__next {
            position: absolute;
            right: 2%;
            top: 22%;
            cursor: pointer;
            color: $color--primary;
            font-size: 1.6em;

            @media #{$normal} {
                top: 2%;
                right: 5%;
                font-size: 2em;
            }

            &:hover {
                color: $color--auburn-dark;
            }
        }
    }
}

#myform {
    text-align: center;
    padding: 5px;
    margin: 2%;
}

.qty {
    background-color: $color--primary;
    color: $color--white;
    border: none;
    width: 50px;
    height: 30px;
    text-align: center;
}

input.qtyplus {
    background-color: $color--primary;
    color: $color--white;
    border: none;
    width: 30px;
    height: 30px;
    
    &:hover {
        background-color: $color--auburn-dark;
    }
}

input.qtyminus {
    background-color: $color--primary;
    color: $color--white;
    border: none;
    width: 30px;
    height: 30px;

    &:hover {
        background-color: $color--auburn-dark;
    }
}
