.about {
    width: 100vw;
    margin-bottom: 4em;

    @media #{$normal} {
        margin-bottom: 150px;
    }

    h1 {
        color: $color--primary;
    }

    p {
        color: $color--white;
    }

    &__title {
    text-align: left;
    }
    
    &__content{
        text-align: left;

        @media #{$normal} {
            width: 400px;
        }
    }
    
    &__inhoud {
        margin-top: 4em;

        @media #{$normal} {
            margin-top: 150px;
        }
    }
    &__img {
      img {
        width: 100%;
        height: auto;

        @media #{$tablet} {
            margin-top: 150px;
        }

        @media #{$normal} {
            margin-top: 100px;
        }

        @media #{$wide} {
            margin-top: 60px;
        }
      }
    }

    &__how {
        margin-top: 6em;
        
        &__text {
            text-align: left;
        }
    }

    &__powercrate {
        margin-top: 4em;

        @media #{$normal} {
            margin-top: 150px;
        }

        &__image {
            img {
                width: 100%;
                height: auto;

                @media #{$tablet} {
                    margin-top: 100px;
                }
        
                @media #{$normal} {
                    margin-top: 0;
                }
        
                @media #{$wide} {
                    margin-top: 0;
                }
            }
        }

        &__content {
            text-align: left;

            @media #{$mobile-down} {
                margin-top: 10px;
            }
        }
    }

    &__return {
        margin-top: 6em;
        
        &__text {
            &__address {
                color: $color--alizarin-crimson;
            }
        }
    }
}
