.product-detail {
    display: flex;
    justify-content: center;

    &__list {
        order: 2;
        text-align: center;
        padding-right: 5em;
        margin-top: 5em;
        padding-bottom: 7em;

        @media #{$normal} {
            margin-top: 7em;
            padding-bottom: 0;
        }

        &__title {
            color: $color--white;
            font-weight: bold;
            margin-left: 1.5em;
        }
        
        &__wrapper {
            list-style: none;
            text-align: left;
        }

        &__item {
            padding: 1em 0;
            padding-left: 2em;
            font-size: 1.2em;
            color: $color--white;
            border-bottom: solid 1px $color--primary;
            margin-top: 10px;
            cursor: pointer;

            &:hover {
                color: $color--alizarin-crimson-dark;
            }

            &__arrow {
                float: right;
                padding-right: 2em;
            }
        }

        @media #{$normal} {
            order: 1;
          }
    }

    &__info {
        order: 1;
        border-bottom: solid 4px $color--primary;
        padding-bottom: 5em;
        margin-top: 7em;

        @media #{$mobile} {
            margin-top: 4em;
        }

        @media #{$wide} {
            margin-top: 7em;
        }

        &__image {
            max-width: 180px;
            height: 50vh;
            padding-bottom: 10px;

            @media #{$mobile} {
                height: 90vh;
            }

            @media #{$tablet} {
              height: 40vh; 
            }

            @media #{$normal} {
              height: 50vh;
            }
        }

        &__content {
            color: $color--white;

            @media #{$mobile} {
                margin-top: 2em;
            }

            &__title {
                font-weight: bold;
            }

            &__description, &__ingredients {
                margin-top: 2.5em;
            }
        }

        @media #{$normal} {
            order: 2;
            border-bottom: 0;
            border-left: solid 4px $color--primary;
            padding-left: 5em;
            padding-bottom: 0;
          }
    }
}
