.product-list {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2em;

    @media #{$mobile} {
        grid-template-columns: 1fr 1fr;
     }

     @media #{$tablet} {
        grid-template-columns: 1fr 1fr;
     }
  
   @media #{$normal} {
       padding-top: 4em;
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__card {
        width: 25vw;
        padding-bottom: 2.5em;
        margin-left: 10em;

        @media #{$tablet} {
            margin-left: 8em;
          }

        @media #{$normal} {
            margin-left: 0;
          }

        &__content {
            text-decoration: none;
            color: $color--secondary;

            &:hover {
                color: $color--primary;
            }
        }

        &__image {
            max-width: 100px;
            max-height: 220px;
        }

        &__title {
            padding-top: 10px;
        }
    }
}