.product-list {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
  
   @media #{$normal} {
      flex-flow: row wrap;
      justify-content: center;
    }

    &__card {
        width: 25vw;
        padding-bottom: 2.5em;
        margin-left: 10em;

        @media #{$normal} {
            margin-left: 0;
          }

        &__title {
            text-decoration: none;
            color: $color--secondary;

            &:hover {
                color: $color--primary;
            }
        }
    }
}