.powercrate {
    width: 100vw;

    @media #{$normal} {
        margin-left: 10em;
    }

    @media #{$wide} {
        margin-left: 18em;
    }

    &__title {
        font-family: 'Merienda', cursive;
        font-size: 3em;
        text-align: left;
        color: $color--white;
        margin-top: 1em;
        margin-left: .5em;

        @media #{$normal} {
            margin-top: 2em;
        }
    }

    &__subtitle {
        font-size: 20px;
        color: $color--primary;
    }

    &__products {
        text-align: left;
        margin-top: 4em;
        margin-left: 1em;
        font-size: 1.5em;
        color: $color--white;

        @media #{$normal} {
            margin-top: 1em;
        }

        &__total_amount {
            margin: 1em 0;
            width: 90%;
            height: 1px;
            background-color: $color--auburn;

            @media #{$normal} {
                width: 65%;
            }
        }

        &__amount {
            padding-left: 6em;

            @media #{$normal} {
                padding-left: 6em;
            }
        }

        &__notice {
            font-size: 0.6em;
        }
    }

    .button {
        color: $color--white;
        text-decoration: none;

        &__back {
            position: absolute;
            top: 22%;
            left: 2%;
            cursor: pointer;
            color: $color--primary;
            font-size: 1.6em;

            @media #{$mobile} {
                top: 40%;
                left: 3%;
            }

            @media #{$tablet} {
                top: 18%;
                left: 5%;
            }

            @media #{$normal} {
                top: 2%;
                left: 3%;
                font-size: 2em;
            }

            &:hover {
                color: $color--auburn-dark;
            }
        }

        &__next {
            position: absolute;
            right: 2%;
            top: 22%;
            cursor: pointer;
            color: $color--primary;
            font-size: 1.6em;

            @media #{$mobile} {
                top: 40%;
                right: 3%;
            }

            @media #{$tablet} {
                top: 18%;
                right: 5%;
            }

            @media #{$normal} {
                top: 2%;
                right: 5%;
                font-size: 2em;
            }

            &:hover {
                color: $color--auburn-dark;
            }
        }
    }
}
