.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .dash {
        display: flex;
        align-items: center;
        transform: translate(5%, -5%);
    }

    // .hr {
    //     width: 100px;
    //     border: 1px solid white;
    // }

    .dash-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: white;
        margin: 30px;
        margin-left: 45px;

        @media #{$normal} {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }

    }

    .dash-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: white;
        margin: 30px;
        text-align: left;
    }

    .vertical-line {

        border: 1px solid $color--primary;
        margin: 4px;
        height: 500px;
    }


    .drinks {
        margin-left: 15px;
    }

    h3 {
        margin-top: 10px;
        font-size: 2.7rem;
    }

    .dash-menu-text {
        color: $color--white;
        text-decoration: underline white;
        cursor: pointer;

        &:hover {
            color: $color--primary;
            text-decoration: $color--primary;
        }
    }

    .hr2 {
        width: 305px;
        border: 1px solid white;
        float: left;
        margin: 4px;
        margin-left: 0px;
    }

    span {
        color: $color--primary;
    }

    @media only screen and (max-width: 600px) {
        .vertical-line-mobile {
            border: 1px solid $color--primary;
            width: 244px;
            margin-left: 33px;
        }

        .vertical-line {
            display: none;
        }

        .dash-info {
            margin-left: 43px;
        }

        .hr2 {
            width: 244px;
            border: 1px solid white;
            float: left;
            margin: 4px;
            margin-left: 0px;
        }

        .h4-4 {
            display: flex;
            justify-content: flex-start;
        }

        h3 {
            font-size: 2rem;
        }

        .dash {
            transform: none;
        }
    }
}
